body{
    font-family:'Poppins', sans-serif;
}
.bg-banner{
    background-image: url(bg-1.png);
    background-repeat: no-repeat;
    background-position: 43%;
    backface-visibility: visible;
    height: 350px;
}
.buy-now-button{
   background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 10px;
  text-align: center;
}
.card{
  padding-top: 50px;
  border-radius: 5px;
  box-shadow: 10px 10px 15px lightgray;

}
.phone{
    padding-top: 140px;
}
.laptop{
    padding-top: 50px;
}
.cat-last{
    text-align: center;
    margin-top: 100px;

}
img{
    float: right;
    
}

.col-md-2{
    padding-top: 100px; 
}
.col-md-4{
    padding-top: 100px;
}